*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #1e305e;
}

.heading-primary {
  color: #1e305e;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1rem;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  animation: moveInLeft 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header {
  height: 40vh;
  background-image: linear-gradient(
      to right top,
      rgba(41, 152, 255, 0.5),
      rgba(86, 67, 250, 0.5)
    ),
    url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_825,q_50,w_1900/v1/clients/newark/shutterstock_774779833_4373376c-9235-4063-ab90-dead4908ca9c.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
}
@media (max-width: 37.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.large-button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  background-color: white;
}
.header__logo {
  height: 7rem;
}
.header__edit-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__button {
  height: 3.5rem;
  width: 7rem;
  text-transform: uppercase;
}
.header__edit-button {
  height: 3.5rem;
  width: 10rem;
  text-transform: uppercase;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.footer {
  background-color: #333;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  text-align: center;
}
.footer__content {
  text-align: center;
}

.footer__content--text,
.footer__content--text:link,
.footer__content--text:visited {
  color: #f7f7f7 !important;
  text-decoration: none;
}

.footer__content--text:hover {
  text-decoration: none;
  transform: translateY(2px);
  background-color: white;
  color: black !important;
  border-radius: 5rem;
  transform: scaleX(1.4) scaleY(1.6);
}

.main {
  padding: 3rem 0;
}

.main__random-card-box {
  position: absolute;
}

.main__random-card-box--title {
  font-size: 5rem;
  text-align: center;
}

.main__random-card-box--image {
  height: 50vh;
  width: 100%;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--purple {
  background-color: #1733e7;
  color: #fff;
}

.btn--purple::after {
  background-color: #1733e7;
  color: #fff;
}

.btn--white::after {
  background-color: #fff;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
}

.card__side {
  height: 40rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #2998ff, #1733e7);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #1733e7);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  position: absolute;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}

.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}

.card__details {
  padding: 3rem;
  color: #15305e;
  font-weight: 600;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__detail-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}

.card__detail-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.search__title {
  font-size: 3rem;
  text-align: center;
}

.search__form--label {
  font-size: 1.5rem;
}

.search__form--button {
  font-size: 2rem;
}

.flat-card {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08);
}

.flat-card:hover {
    background-color: var(--oc-gray-1);
}

.border-bottom {
    border-bottom: solid 1px var(--oc-gray-1);
}

.no-round {
    border-radius: 0em !important;
}

.details__sub-title {
  font-size: 2rem;
  text-align: center;
}
